<nav class="navbar navbar-expand-lg navbar-light bg-light rounded mb-4" aria-label="Tenth navbar example">
	<div class="container-fluid">

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
			aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample08">
			<a class="navbar-brand" href="#"><i class="fa-solid fa-house"></i></a>
			<!-- <ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Centered nav only</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
						aria-expanded="false">Dropdown</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown08">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
			</ul> -->

		</div>
		<div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight">
			<div class="p-2 bd-highlight">
				<ul class="navbar-nav">
					<li class="nav-item dropstart">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
							aria-expanded="false"><i class="fa-regular fa-circle-user"></i></a>
						<ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdown08">
							<li><a class="dropdown-item" href="#">Login</a></li>
							<li><a class="dropdown-item" href="#">Logout</a></li>
							<li><a class="dropdown-item" href="#">Register</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
