<nav class="navbar navbar-expand-lg navbar-light bg-light rounded mb-4" aria-label="Tenth navbar example">
	<div class="container-fluid">

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
			aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample08">
			<a class="navbar-brand" [routerLink]="''"><i class="fa-solid fa-house"></i></a>
			<a class="nav-link active border-start p-2" boldOnHover [underline]="true" aria-current="page" [routerLink]="['/','bug-report']">Bug Report</a>

			<!-- <ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Centered nav only</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
						aria-expanded="false">Dropdown</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown08">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
			</ul> -->

		</div>
		<div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight">
			<div class="p-2 bd-highlight">
				<ul class="navbar-nav ">
					<li class="align-self-center"><span class="m-4" *ngIf="authService.isLoggedIn()">Hello {{authService.getUser()?.user?.name}}</span><span class="border-end"></span></li>
					<li class="nav-item dropstart">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
							aria-expanded="false"><i class="fa-regular fa-circle-user"></i></a>
						<ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdown08">
							<li *ngIf="!authService.isLoggedIn()"><a class="dropdown-item" [routerLink]="['user', 'login']">Login</a></li>
							<li *ngIf="!authService.isLoggedIn()"><a class="dropdown-item" [routerLink]="['user', 'register']">Register</a></li>
							<li *ngIf="authService.isLoggedIn()"><a class="dropdown-item" [routerLink]="['user', 'logout']">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
