<div class="col-sm-8 mx-auto">
	<h1>Bug Reporting System</h1>
	<p>
		All systems, regardless of their size, have errors that cause them to not function correctly. Those errors are called bugs
		and some of them are very critical and require immediate attention while others are minor and require little attention.
		The bugs are resolved by the DEV (development) team and are often reported by the QA (Quality Assurance) team who
		is responsible for the overall quality of the product.
	</p>

	<p>
		To report the bugs, we need to have a system that both the DEVs, QAs, and even POs (product owners) can access.
		The goal of the project is to create a Bug Reporting System that will be used by QAs, DEVs, and POs for the submission
		and review of bugs.
	</p>
	<p>
		If you need more fields/properties add them
		The product needs to be a Single Page Application (SPA). More specifically, it will be an Angular Application that will
		communicate via HTTP with a backend API.
	</p>
</div>
